body {
	background-color:#f6d8ac ;
}

h1, h2 {
	color:#f54242 ;
	font-family: verdana;
}

h3 {
	color:#424bf5 ;
	font-family:times;
	font-size:140% ;
}

pre {
	color: #2a6592;
	font-family:garamond ;
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
}


